/*-----------------RESET-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}


/*-----------------GENERAL TAG CHANGES START-----------------*/
body {
    color: white;
    text-align: center;
    text-shadow: 1.5px 3px black;
    background-image: url("../image/background.jpg");
    background-position: center;
    background-size: cover;
}

fieldset {
    border: 5px solid rgb(255, 255, 255);
    border-style: double;
    margin: 1%;
    background-color: rgba(182, 182, 182, 0.623);
    height: 98%;
}

legend i{
    font-size: 1.25em;
    color: transparent;
    animation: rainbow 5s linear infinite;
}
h3 i{
    animation: rainbow 5s linear infinite;
}

select {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 0%;
    width: 50%;
}
a {
    color:rgb(0, 136, 136);
    font-weight:bold;
    font-size: 0.8em;
    text-align: center;
    text-decoration:none;
    background-color:#ffffff;
    display:block;
    position:relative;
    padding:1em 1em;
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #000000;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #000000;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #00a1a1;
    border-radius: 0.5em;
}

h4 {
    margin-top: 5%;
}

/*-----------------LAYOUT START-----------------*/
.container {
    max-width: 100%;
    height: 98vh;
    display: grid;
    grid-template-columns: auto 25% 25% 25%;
    grid-template-rows: 75% auto ;
    grid-template-areas: 
        "fieldset1 fieldset1 fieldset4 fieldset4"
        "fieldset1 fieldset1 fieldset4 fieldset4"
        "fieldset1 fieldset1 fieldset4 fieldset4"
        "fieldset2 fieldset3 fieldset5 fieldset5"
    ;
}

.content1 {
    grid-area: fieldset1;

}

.content2 {
    grid-area: fieldset2;

}

.content3{
    grid-area: fieldset3;

}

.content4 {
    grid-area: fieldset4;

}

.content5 {
    grid-area: fieldset5;

}


/*-----------------GENERAL CLASS CHANGES START-----------------*/
.field_three_stats {
    display: flex;
    line-height: 3em;
    margin-top: 0.7em;
    text-align: left;
    background-color: rgba(17, 17, 17, 0.596);
    border: 3px solid rgba(128, 128, 128, 0.479);
}

.input_class {
    margin: 1em;
    width: 50%;
    padding: 1em;
    border-radius: 10px;
    outline: none;
    border-width: 1px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.input_account {
    display: inline-block;
    margin-top: 2%;
    position: relative;
    padding: 1em;
    border-radius: 10px;
    outline: none;
    border-width: 1px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(151, 255, 250);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(119, 119, 119);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f50000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.containerflex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.secretmode{
    width: 50%;
}

.magic_item{
    margin-top: 2%;
}

.rainbowAnim{
    animation: rainbow 5s linear;
}

.bodydark {
    color: rgb(248, 2, 2);
    text-align: center;
    text-shadow: 1px 3px rgb(46, 46, 46);
    background: url("../image/night.jpg");
    background-position: center;
    background-size: cover;
}

.fieldsetdark {
    background-color: #202020e0;
}

.button {
    position:relative;
    display:inline-block;
    margin: 1em;
}

.button a:active {
    top:10px;
    background-color:#b8b8b8;
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #007268;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #007268;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #007268;
}

.button:after {
    content:"";
    height:100%;
    width:100%;
    padding: 4px;
    position: absolute;
    bottom:-1em;
    left:-0.2em;
    z-index:-1;
    background-color:#ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.anchordark {
    color:rgb(255, 1, 1);
    font-weight:bold;
    font-size: 1em;
    text-align: center;
    text-decoration:none;
    background-color:#1b1b1b;
    display:block;
    position:relative;
    padding:0.7em 1.5em;
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-box-shadow:inset 0 1px 0 #000000, 0 10px 0 #6b0000;
    -moz-box-shadow:inset 0 1px 0 #000000, 0 10px 0 #6b0000;
    box-shadow:inset 0 1px 0 #000000, 0 10px 0 #6b0000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.field_extra {
    line-height: 1.7em;
}

/*WIP*/
.jquerydark {
    color: red;
}

.jquerySlider {
    float: left;
    width: 90%;
    margin: 1% 10%;
    height: 40px;
    border-radius: 0.5em;
    color: #008585;
}
/*WIP*/

/*-----------------GENERAL ID CHANGES START-----------------*/
#mainImage {
    height: 70%;
    width: 70%;
}

#message {
    margin-top: 2%;
    font-size: 1.5em;
}

#main_stats {
    width: 45%;
}

#secondary_stats {
    width: 55%;
}

#hidden {
    margin: 1.5%;
    display: none;
    color: gold;
    text-shadow: 1px 2px rgb(61, 61, 61);
}

#lsOutput {
    text-transform: uppercase;
    margin-top: 2%;
}

#level {
    width: 30%;
    text-align: center;
    padding: 10px;
}


/*-----------------KEYFRAMES-----------------*/
@keyframes rainbow {
    0%   {color:lightcoral;}
    25%  {color:lightskyblue;}
    50%  {color:gold;}
    75%  {color:greenyellow;}
    100% {color:lightcoral;}
}

/*-----------------RESPONSIVE-----------------*/
@media (max-width: 1000px){
    .container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "fieldset1"
            "fieldset2"
            "fieldset3"
            "fieldset4"
            "fieldset5";
    }
    .secretmode {
        width: 100%;
    }
    .margin {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .field_one{
        height: 550px;
    }
    .field_three_stats {
        font-size: 13px;
    }
    .input_class {
        width: 80%;
    }
    .button {
        margin: 0.5em;
    }
    #lsOutput {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #mainImage {
        height: 55%;
        width: 80%;
    }
    #message {
        margin-top: 2%;
        font-size: 20px;
    }
    #secondary_stats {
        margin-left: 10px;
    }
    #hidden {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    select {
        width: 80%;
    }
}